@charset "utf-8";

html {overflow-y:scroll;}
html, body{margin:0 auto; padding:0; font-size:14px; line-height:1.6em; width: 100%; height: auto; min-height:100%; max-width: 1920px; overflow-x: hidden;}

*, *::before, *::after{box-sizing:border-box;}

.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.uppercase{text-transform:uppercase;}
.capitalise{text-transform:capitalize;}
.hidden{display:none;}
.nospace{margin:0; padding:0; list-style:none;}
.inline *{display:inline-block;}
.inline *:last-child{margin-right:0;}
.pushright li{margin-right:20px;}
.pushright li:last-child{margin-right:0;}
.borderedbox{border:1px solid;}
.overlay{position:relative;}
.overlay::after{display:block; position:absolute; top:0; left:0; width:100%; height:100%; content:""; z-index:-1;}
.bgded{background-position:top center; background-repeat:no-repeat; background-size:cover;}
.circle{border-radius:50%; background-clip:padding-box;}
.btn{display:inline-block; padding:15px 25px 17px; text-transform:uppercase; border:1px solid;}
.center_mrg{margin-left:auto;margin-right:auto;}
.margin-vertical.medium {margin: 40px 0;}
.margin-vertical-medium {margin: 40px 0;}
.margin-top-big {margin-top: 130px;}
.padding-horizontal.medium {
    padding-left: 30px;
    padding-right: 30px;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.text-bigger {
    font-size: 165%;
    line-height: 135%;
}
.text-block {
    display: block;
    margin-top: 10px;
}
.text-nowrap {
    white-space: nowrap;
}
.center-no-float {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.flex-center {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    min-height: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.flipper .flex-center {
    flex-flow: column;
}

.absolute-middle, li.absolute-middle a, div.absolute-middle h1 {
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.clear, .group{display:block;}
.clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
.clear, .clear::after, .group, .group::after{clear:both;}

a{outline:none; text-decoration:none;}
a:hover{outline:none; text-decoration:none;}
a:active{outline:none; text-decoration:none;}

.fl_left, .imgl{float:left;}
.fl_right, .imgr{float:right;}

img{width:auto; max-width:100%; height:auto; margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgl{margin:0 15px 10px 0; clear:left;}
.imgr{margin:0 0 10px 15px; clear:right;}

/* FULL HEIGHT SECTIONS */

div.screen-height, section.screen-height {height: calc(100%); height: 100%; max-height: 1080px;}
div.tri-screen-height {height: 75%;}
div.duo-screen-height {height: 50%;}
div.pri-screen-height {height: 25%;}
div.flex-fit {display: flex; flex-flow: column;}

div.darkened {background-color: #f1f1f1; border: 1px solid #ddd;}

/* Custom */

.overlay::after {
    color: inherit;
    background-color: rgba(0, 0, 0, .65);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000, endColorstr=#A5000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000, endColorstr=#A5000000)";
}

/* Generalise
--------------------------------------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, .heading{margin:0 0 20px 0; font-size:22px; line-height:normal; font-weight:normal;}

address{font-style:normal; font-weight:normal;}
hr{display:block; width:100%; height:1px; border:solid; border-width:1px 0 0 0;}

.font-x1{font-size:1.2rem;}
.font-x2{font-size:1.8rem;}
.font-x3{font-size:2.8rem;}

.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left; word-wrap:break-word;}

/* HTML 5 Overrides
--------------------------------------------------------------------------------------------------------------- */
address, article, aside, figcaption, figure, footer, header, main, nav, section{display:block; margin:0; padding:0;}

/* Spacing
--------------------------------------------------------------------------------------------------------------- */
.btmspace-10{margin-bottom:10px;}
.btmspace-15{margin-bottom:15px;}
.btmspace-30{margin-bottom:30px;}
.btmspace-50{margin-bottom:50px;}
.btmspace-80{margin-bottom:80px;}

.inspace-5{padding:5px;}
.inspace-10{padding:10px;}
.inspace-15{padding:15px;}
.inspace-30{padding:30px;}
.inspace-50{padding:50px;}
.inspace-80{padding:80px;}

/* -------------------------------------------------------------------------------------------------------------- */

#backtotop {
    z-index: 2;
    display: inline-block;
    position: fixed;
    visibility: hidden;
    bottom: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    opacity: 0.2;
    text-decoration: none;
    outline: none;
    transition: all .2s ease-in-out 0s;
}

#backtotop {
    color: rgb(255, 255, 255);
    background-color: rgb(60, 176, 248);
}

#backtotop i {
    display: block;
    width: 100%;
    height: 100%;
    line-height: inherit;
}

#backtotop.visible {
    visibility: visible;
    opacity: 0.5;
}

#backtotop.visible:hover {
    visibility: visible;
    opacity: 1;
}

/* FLIPPER ///////////////////////////////////////////////// */
/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}
/* flip the pane when hovered */
/* .flip-container:hover .flipper, */
.flip-container.hover .flipper {
    transform: rotateX(180deg);
    transition-delay:0s;
}

.flip-container, .flipper .front, .flipper .back {
    width: 100%;
    height: 240px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transition-delay:0.6s;
    transform-style: preserve-3d;

    position: relative;

    height: 100%;
}

/* hide back of pane during swap */
.flipper .front, .flipper .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
}

/* front pane, placed above back */
.flipper .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateX(0deg);
}

/* back, initially hidden pane */
.flipper .back {
    transform: rotateX(180deg);
    flex-flow: column;
}
.flipper .back span.filler {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.flipper .flipper-button {
    width: 70%;
    padding: 5px 15px;
    color: #fff;
    margin: 5px 20px;
}

.flipper.color_1 .flipper-button {
    background-color: #000;
    border: solid 2px #000;
}

.flipper.color_2 .flipper-button {
    background-color: #ff9c10;
    border: solid 2px #ff9c10;
}

.flipper.color_3 .flipper-button {
    background-color: #ff9c10;
    border: solid 2px #ff9c10;
}

/* FLIPPER ///////////////////////////////////////////////// */

@media (min-width: 1600px) {
    .container {
        width: 1400px;
    }
}

@media (min-width: 992px) {
    .margin-vertical.medium.mobile {
        margin: 30px 0;
    }
}

@media (max-width: 1199px) {
    .text-bigger {
        font-size: 135%;
        line-height: 125%;
    }
}
@media (max-width: 991px) {
    .flip-container {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 767px) {
    .no-margin-mobile {
        margin: 0 !important;
    }

    .margin-on-mobile {
        margin: 15px 0 !important;
    }

    .no-padding-mobile {
        padding: 0;
    }

    .flip-container {
        min-width: 0;
        min-height: 0;
    }
}