@charset "utf-8";

body, input, textarea, select {
    /*font-family: Verdana, Geneva, sans-serif;*/
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.6em;
}

.page {
    overflow: auto;
    margin-bottom: 100px;
}

.page:last-child {
    margin-bottom: 0;
}

.narrow-paragraph {
    max-width: 700px;
    text-align: justify;
}

/* Header
--------------------------------------------------------------------------------------------------------------- */
/*
#header {
    padding-top: 20px;
}
*/

header #logo {
    width: auto;
    height: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

/*
#header #logo h1 {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 32px;
}
*/

header nav .wrapper {
    height: 100%;
    position: relative;
    margin: 0 auto;
    max-width: 1160px;
}

header nav .wrapper:before {
    left: -100%;
}

header nav .wrapper:after {
    right: -99%;
}

header nav .wrapper:after, header nav .wrapper:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

header nav, header nav ul {
    height: 100%;
}

header nav ul {
    width: 100%;
    margin: 0;
    background-color: #fff;
}

header nav ul li {
    display: inline-block;
    overflow: hidden;
    float: left;
    width: 15%;
    height: 100%;
    text-align: center;
    border-right: 2px solid #d7d7d7;
    box-sizing: border-box;
    text-transform: uppercase;
    position: relative;
    margin: 0;
    padding-top: 0;
}

header nav ul li:first-child {
    width: 30%;
    border-right: none;
    box-sizing: content-box;
    margin: 0 1.25%;
    padding-top: 0;
}

header nav ul li:last-child {
    float: right;
    width: 37.5%;
    border: 0;
    text-align: left!important;
    padding-left: 1%;
    padding-top: 0;
}

header nav ul li:not(:first-child):not(:last-child):hover {
    background: #3a4264;
}

header nav ul li:not(:last-child) a:hover {
    color: #fff;
}

header nav img {
    vertical-align: baseline;
    max-height: 80px;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    z-index: 16;
    height: 80px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
    text-align: center;
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header.shrink {
    height: 60px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

header.shrink #logo {
    visibility: visible;
    opacity: 1;
    padding: 7px;
}

header.shrink nav img {
    max-height: 60px;
}

header h1 {
    font-size: 30px;
    font-weight: normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #000;
    padding-top: 20px;
    margin: 0;
}

header.shrink h1 {
    font-size: 24px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

header nav li a {
    display: inline-block;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: color .25s;
    transition: color .25s;
}

header.shrink nav li a {
    padding: 19px 0;
}

header .nav ul li:last-child a:first-child {
    margin-left: 20px;
}
header.shrink nav ul li:last-child a {
    margin-top: 20px;
    font-size: 9px;
}
header nav ul li:last-child a {
    margin-top: 25px;
    padding: 2px 10px;
    width: auto;
    border-right: 1px solid #d7d7d7;
    font-size: 10px;
    font-weight: 500;
}
header.shrink nav ul li:last-child {
    padding-top: 0;
}
header nav ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
    padding-right: 3px;
    width: 100%;
}

header nav ul li a:focus {
    text-decoration: none;
}

header.shrink nav ul li:first-child {
    padding-top: 0;
}
header nav ul li.active a, header nav ul li:last-child a.active {
    color: #27aae1;
    font-weight: 500;
}

#page_intro h1 {
    margin-bottom: 15px;
    font-size: 80px;
    color: #fff;
}

.big_logo_container {
    position: absolute;
    width: 100%;
    top: 25%;
}
.big_logo_container img {
    position: relative;
    display: block;
    margin: 0 auto;
    min-width: 300px;
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
    z-index: 1;

    outline: 1px solid transparent;
}

.carousel-caption h3 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 42px;
}

.carousel-caption a.btn-block {
    margin-bottom: 50px;
}


.btn {
     display: inline-block;
     padding: 10px 35px;
     text-transform: uppercase;
     border: 1px solid #1baca2;
     border-radius: 0;
     text-decoration: none;
     color: #fff;
     margin: 10px 0;
     background-color: #1baca2;
     font-size: 20px;
     font-weight: 300;
 }

.btn:hover {
    background-color: #fff;
    background-color: transparent;
    color: #1baca2;
}

.btn.alternative {
    background-color: #3b4165;
    border: 1px solid #3b4165;
}
.btn.alternative:hover {
    background-color: #fff;
    background-color: transparent;
    color: #3b4165;
}

.tile.tile_color_2 .btn {
    border: 1px solid #fff;
    background-color: #fff;
    color: #3a4264;
}
.tile.tile_color_2 .btn:hover {
    background-color: transparent;
    color: #fff;
}

.tile.tile_color_3 .btn {
    border: 1px solid #1baca2;
    background-color: #1baca2;
    color: #fff;
}
.tile.tile_color_3 .btn:hover {
    background-color: transparent;
    color: #1baca2;
}

.tile.tile_color_1 .btn {
    border: 1px solid #fff;
    background-color: #fff;
    color: #1baca2;
}
.tile.tile_color_1 .btn:hover {
    background-color: transparent;
    color: #fff;
}

/*
header .content {
    height: 115px;
    display: block;
}
*/

@media screen and (max-width: 720px) {
    header {
        overflow: visible !important;
        height: 40px !important;
        -webkit-transform: translateY(0) !important;
        transform: translateY(0) !important;
        top: 0 !important;
        -webkit-transition: none !important;
        transition: none !important;
    }

    header nav ul li a {
        font-size: 13px;
        padding: 8px 0;
        width: 100%;
        text-decoration: none;
    }

    header #logo {
        visibility: visible;
        opacity: 1;
    }

    header.shrink nav ul li a {
        padding: 8px 0;
    }

    header h1 {
        font-size: 18px !important;
        padding-top: 9px;
    }

    header .content {
        display: none;
    }

    header nav ul li:first-child {
        width: 30%;
    }

    header nav ul li {
        width: 27.5%;
    }

    header nav ul li:last-child {
        width: 12.5%;
        height: 100%;
        position: relative;
    }

    header nav ul li:last-child b:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        height: 0;
        width: 0;
        border: solid transparent;
        border-color: #d7d7d7 transparent transparent;
        border-width: 10px;
        margin-top: -4px;
        margin-left: -13px;
    }

    header nav ul li:last-child>div {
        display: none;
        position: relative;
        z-index: -1;
        opacity: 0;
        -webkit-transition: all .5s;
        transition: all .5s;
    }

    header nav ul li:last-child b {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }

    header nav ul li:last-child b.visible:after {
        border-top-color: #13a89e;
    }

    header nav ul li:last-child>div.visible {
        display: block;
        position: fixed;
        top: 39px;
        right: 0;
        opacity: 1;
        background: #fff;
    }

    header nav ul li:last-child>div {
        display: none;
        position: relative;
        z-index: -1;
        opacity: 0;
        -webkit-transition: all .5s;
        transition: all .5s;
    }

    header nav ul li:last-child a {
         display: block;
         margin: 0;
         padding: 22px 60px;
         color: #000;
         font-size: 36px;
         text-align: center;
         border-bottom: 1px solid #3a4264;
     }

    header nav ul li:last-child a:last-child {
        border-bottom: none;
    }

    header nav ul li:last-child a:hover {
        background: #3a4264;
        color: #fff;
    }

    header nav ul li:last-child>div a, header.shrink nav ul li:last-child>div a {
        margin-top: 0;
        font-size: 13px;
        padding: 8px 10px;
    }

    #page_intro .heading h1, .heading h1 {
        font-size: 64px;
    }

    .big_logo_container {
        top: 15%;
    }
}

@media screen and (max-width: 480px) {
    #page_intro .heading h1, .heading h1 {
        font-size: 36px;
    }
    header nav ul li a {
        font-size: 13px;
        padding: 0;
        line-height: 16px;
        width: 100%;
        height: 100%;
    }
}

/* Content
--------------------------------------------------------------------------------------------------------------- */

.content {
    width: 100%;
    max-width: 1920px;
    z-index: 2;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.content h1 {
    font-size: 40px;
    color: #464646;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin: 70px 40px;
    text-transform: uppercase;
    text-align: center;
}

.content p {
    font-size: 20px;
    color: #343434;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.content h1::first-letter {
    font-size: 60px;
    font-weight: 600;
    color: #374565;
}

.content .tile h1::first-letter {
    font-size: inherit;
    font-weight: bold;
    color: inherit;
}

span.color_one {
    color: #1baca2;
}

span.color_two {
    color: #3a4264;
}

span.new-line {
    display: block;
}
span.no-wrap {
    white-space: nowrap;
}

div.line-height-150 p {
    line-height: 150%;
}

#loading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    display: none;
    left: 49%;
    top: 45%;
    position: absolute;
}

section:last-child {
    margin-bottom: 120px;
}

div.background {
    background-color: #333;
    min-height: 200px;
}

#contact-form input[type="text"], #contact-form textarea, #contact-form select {
    width: 100%;
    height: 65px;
    border: 2px solid #c5c3c6;
    padding: 15px;
    margin-bottom: 15px;
}
#contact-form select option {
    color: #000;
}
#contact-form select option:first-child {
    color: #999;
}

#contact-form input[type="text"]:last-child, #contact-form textarea:last-child, #contact-form select:last-child {
    margin-bottom: 0;
}

#contact-form textarea {
    height: 100%;
    width: 100%;
}

#contact-form .btn {
    width: 100%;
}

.footer-container {
    min-height: 80px;
    padding: 15px 0;
    background-color: #13a89e;
}

.footer-container p {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 25px;
    color: #fff;
    font-weight: bold;
}
.footer-container a p:hover {
    color: #3a4264;
}

/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    vertical-align: top;
}

table, th {
    table-layout: auto;
}

table {
    width: 100%;
    margin-bottom: 15px;
}

th, td {
    padding: 5px 8px;
}

td {
    border-width: 0 1px;
}

/* Font Awesome Social Icons
--------------------------------------------------------------------------------------------------------------- */
.faico {
    margin: 0;
    padding: 0;
    list-style: none;
}

.faico li {
    display: inline-block;
    margin: 5px 2px 0 0;
    padding: 0;
    line-height: normal;
}

.faico li:last-child {
    margin-right: 0;
}

.faico a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
}

.faico a {
    color: inherit;
    background-color: #3D4247;
}

.faico a:hover {
    color: #FFFFFF;
}

.faicon-facebook:hover {
    background-color: #3B5998;
}

.faicon-google-plus:hover {
    background-color: #DB4A39;
}

.faicon-instagram:hover {
    background-color: #3F729B;
}

.faicon-linkedin:hover {
    background-color: #0E76A8;
}

.faicon-tumblr:hover {
    background-color: #34526F;
}

.faicon-twitter:hover {
    background-color: #00ACEE;
}

/* Colours
--------------------------------------------------------------------------------------------------------------- */

/* Header */
#header #logo a {
    color: inherit;
}

/*footer */

footer .flex-container {
    display: flex;
    justify-content: center;
}


.flex-container-always {
    display: flex;
    justify-content: center;
}
.flex-container-always .flex-center {
    align-self: center;
}

.header-separator {
    margin-top: 160px;
}


/* /footer */

/* Media Queries
--------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 992px) {
    .flex-container {
        display: flex;
        justify-content: center;
    }

    .flex-container .flex-center {
        align-self: center;
    }
}

@media screen and (max-width: 1199px) {
    .carousel-caption h3 {
        font-size: 32px;
    }
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        bottom: 140px;
    }

    .carousel-caption h3 {
        font-size: 28px;
    }

    #contact-form > div {
        padding: 0;
    }

    footer .footer-container p {
        display: block;
        text-align: center;
    }
}
@media screen and (max-width: 479px) {
    .carousel-caption h3 {
        font-size: 22px;
    }
}
