@charset "utf-8";

body, input, textarea, select {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.6em;
}

.page {
    overflow: auto;
    margin-bottom: 60px;
}

.page:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 991px) {
    .page {
        margin-bottom: 50px;
    }
}

div.bged.circle::before {
    border-radius: 50%;
}

.narrow-paragraph {
    max-width: 700px;
    text-align: justify;
}

/* Header
--------------------------------------------------------------------------------------------------------------- */
/*
#header {
    padding-top: 20px;
}
*/

header nav.navbar {
    background: #fff;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav .navbar-brand {
    padding: 5px;
}

nav .navbar-brand img {
    max-height: 40px;
}

#page_intro h1 {
    margin-bottom: 15px;
    font-size: 80px;
    color: #fff;
}

.big_logo_container {
    position: absolute;
    width: 100%;
    top: 25%;
}
.big_logo_container img {
    position: relative;
    display: block;
    margin: 0 auto;
    min-width: 300px;
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
    z-index: 1;

    outline: 1px solid transparent;
}

.carousel-caption {
    text-align: left;
}
.carousel-caption .btn {
    float: left;
    clear: left;
}

.carousel-caption h3 {
    display: inline-block;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 42px;
    float: left;
    clear: left;
    text-shadow: none;
    white-space: pre-wrap;
}
.carousel-caption h3 {
    padding: 5px 25px;
    margin: 0;
    display: inline-block;
    color: #000;
    background-color: #fed400;
    font-weight: 700;
}
.carousel-caption h3.highlight_lower {
    padding: 5px 25px;
    margin: 0;
    display: inline-block;
    color: #fff;
    background-color: #ff9c10;
    font-weight: 700;
}

.carousel-caption a.btn-block {
    margin-bottom: 50px;
    margin-top: 20px;
}

/* RESPONSIVE TABLE */

.table-container p {
    margin: 0;
}
.table-container .table-header {
    background-color: #777777;
}
.table-container .table-header > div:last-child {
    background-color: #ff9c10;
}
.table-container .table-header > div {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    min-height: 75px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.table-container .table-header p {
    color: #fff;
    font-size: 175%;
    text-transform: uppercase;
}
.table-container .table-body {
    padding: 0;
}
.table-container .table-body > .container-fluid > .row {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: flex;
}
.table-container .table-body > .container-fluid > .row > div {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.table-container .table-body > div p, .table-container .table-body > div img {
    padding: 10px;

}
.table-container .table-body > div img {
    max-height: 60px;
}
.table-container .table-body > div > .row:nth-child(even) {
    background-color: #f6f6f6;
}

/* Last child formatting */
.table-container .table-body > div > .row > div:last-child {
    background-color: #ff9c10;
}
.table-container .table-body > div > .row > div:last-child p {
    color: #fff;
}
.table-container .table-body > div > .row:nth-child(even) > div:last-child {
    background-color: #f99710;
}
.table-container .table-body > div > .row:nth-child(even) > div:last-child p {
    color: #fff;
}
/* ----------------------- */

/* highlight row formatting */
.table-container .table-body > div > .row:hover, .table-container .table-body > .row:hover div {
    background-color: #e4e0e4;
}
.table-container .table-body > div > row:nth-child(even):hover, .table-container .table-body > .row:nth-child(even):hover div {
    background-color: #d8d4d8;
}
.table-container .table-body > div > .row:hover div:last-child {
    background-color: #cac6ca;
}
.table-container .table-body > div > .row:nth-child(even):hover div:last-child {
    background-color: #bab6ba;
}
/* ----------------------- */

/* Table mobile view */

.table-container .table-show-on-mobile {
    display: none;
}

.table-container .table-show-on-mobile .table-mobile-element .table-mobile-contents > .row > div {
    padding: 15px;
}

/* Formatting name row of each element */
.table-container .table-show-on-mobile-contents .table-mobile-element > .row > .name {
    padding: 15px 0;
}
.table-container .table-show-on-mobile-contents .table-mobile-element > .row > .name p {
    text-transform: uppercase;
}
.table-container .table-show-on-mobile-contents .table-mobile-element > .row > .name:hover {
    cursor: pointer;
}
.table-container .table-show-on-mobile-contents .table-mobile-element > .row > .name {
    background-color: #fff;
    border-bottom: solid 1px #ddd;
}
/* -------------------------------------------------------- */

/* Formatting contents of element */
.table-container .table-show-on-mobile-contents .table-mobile-element .table-mobile-contents > .row > div:first-child p {
    text-transform: uppercase;
}
/* -------------------------------------------------------- */

/* Formatting the bg color of last row in each element */
.table-container .table-show-on-mobile-contents .table-mobile-element > .row > .table-mobile-contents > .row:last-child {
    background-color: #f99710;
}
.table-container .table-show-on-mobile-contents .table-mobile-element > .row > .table-mobile-contents > .row:last-child p {
    color: #fff;
}
/* ---------------------------------------------------- */

/* Formatting even children */
.table-container .table-show-on-mobile-contents .table-mobile-element > .row:nth-child(even) > .name, .table-container .table-show-on-mobile-contents .table-mobile-element > .row > .table-mobile-contents {
    background-color: #f6f6f6;
}
/* ------------------------------------------------------- */

@media screen and (min-width: 991px) {
    .table-container {
        margin-left: 45px;
        margin-right: 45px;
    }
}

@media screen and (max-width: 991px) {
    .table-container .table-hide-on-mobile, .table-container .table-header .table-hide-on-mobile {
        display: none;
    }
    .table-container .table-show-on-mobile {
        display: block;
    }
}

/* /RESPONSIVE TABLE ---------------------------------------------------------------------------------------------- */

/* /Table mobile view */


.btn {
     display: inline-block;
     padding: 10px 35px;
     text-transform: uppercase;
     border: 1px solid #ff9c10;
     border-radius: 0;
     text-decoration: none;
     color: #fff;
     margin: 10px 0;
     background-color: #ff9c10;
     font-size: 20px;
     font-weight: 300;
 }

.btn:hover {
    background-color: #fff;
    background-color: transparent;
    color: #ff9c10;
}

.btn.alternative {
    background-color: #ff9c10;
    border: 1px solid #ff9c10;
}
.btn.alternative:hover {
    background-color: #fff;
    background-color: transparent;
    color: #ff9c10;
}

.tile.tile_color_2 .btn {
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
}
.tile.tile_color_2 .btn:hover {
    background-color: transparent;
    color: #fff;
}

.tile.tile_color_3 .btn {
    border: 1px solid #ff9c10;
    background-color: #ff9c10;
    color: #fff;
}
.tile.tile_color_3 .btn:hover {
    background-color: transparent;
    color: #ff9c10;
}

.tile.tile_color_1 .btn {
    border: 1px solid #ff9c10;
    background-color: #ff9c10;
    color: #fff;
}
.tile.tile_color_1 .btn:hover {
    background-color: transparent;
    color: #ff9c10;
}

@media screen and (max-width: 991px) {
    .carousel-caption {
        text-align: center;
    }
    .btn {
        padding: 10px 15px;
    }
    .carousel-caption .btn, .carousel-caption h3 {
        float: none;
        clear: none;
        display: block !important;
    }
}

@media screen and (max-width: 720px) {
    #page_intro .heading h1, .heading h1 {
        font-size: 64px;
    }

    .big_logo_container {
        top: 15%;
    }
}

@media screen and (max-width: 480px) {
    #page_intro .heading h1, .heading h1 {
        font-size: 36px;
    }
}

/* Content
--------------------------------------------------------------------------------------------------------------- */

.content {
    width: 100%;
    min-height: 100%;
    z-index: 2;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.content h1 {
    font-size: 40px;
    color: #696464;
    font-weight: bold;
    margin: 70px 40px;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 991px) {
    .content h1 {
        margin: 20px 18px 40px 18px;
    }
}

.content p {
    font-size: 20px;
    color: #343434;
    font-weight: 300;
}

.content h1::first-letter {
    font-size: 60px;
    font-weight: 600;
}

.content .tile h1::first-letter {
    font-size: inherit;
    font-weight: bold;
    color: inherit;
}

span.downlight {
    font-size: 85%;
}

span.color_one {
    color: #000;
}
span.color_two {
    color: #ff9c10;
}
span.color_three {
    color: #696464;
}
span.color_four {
    color: #a09f9f;
}

span.new-line {
    display: block;
}
span.no-wrap {
    white-space: nowrap;
}

div.line-height-150 p {
    line-height: 150%;
}

#loading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    display: none;
    left: 49%;
    top: 45%;
    position: absolute;
}

section:last-child {
    margin-bottom: 120px;
}

div.background {
    background-color: #333;
    min-height: 200px;
}

#contact-form input[type="text"], #contact-form input[type="tel"], #contact-form textarea, #contact-form select {
    width: 100%;
    height: 65px;
    border: 2px solid #c5c3c6;
    padding: 15px;
    margin-bottom: 15px;
    transition: 1s;
}
#contact-form input[type="text"].wrong-input, #contact-form input[type="tel"].wrong-input, #contact-form textarea.wrong-input, #contact-form select.wrong-input {
    border-color: #ce0000;
}
#contact-form input[type="text"].right-input, #contact-form input[type="tel"].right-input, #contact-form textarea.right-input, #contact-form select.right-input {
    border-color: #007cc3;
}
#contact-form select option {
    color: #000;
}
#contact-form select option:first-child {
    color: #999;
}

#contact-form input[type="text"]:last-child, #contact-form input[type="tel"]:last-child, #contact-form textarea:last-child, #contact-form select:last-child {
    margin-bottom: 0;
}

#contact-form textarea {
    height: 100%;
    width: 100%;
}

#contact-form .btn {
    width: 100%;
    padding: 15px 35px;
    font-size: 200%;
}

.footer-container {
    min-height: 80px;
    padding: 15px 0;
    background-color: #fff;
    border-top: solid 1px #e7e7e7;
    box-shadow: 2px 0 4px 2px rgba(0, 0, 0, 0.2), 2px 0 6px 2px rgba(0, 0, 0, 0.19);
}

.footer-container p {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 25px;
    color: #000;
}
.footer-container a p:hover {
    color: #ff9c10;
}

/* -------------------------------------- /CIRCLES -------------------------------------- */
.circles .circle {
    color: #fff;
    margin: 0 auto;
    background-size: auto 100%;
}
.circles > div:nth-child(1) .circle {
    background-image: url(https://cdn.arstechnica.net/wp-content/uploads/2016/02/5718897981_10faa45ac3_b-640x624.jpg);
}
.circles > div:nth-child(2) .circle {
    background-image: url(https://cdn.arstechnica.net/wp-content/uploads/2016/02/5718897981_10faa45ac3_b-640x624.jpg);
}
.circles > div:nth-child(3) .circle {
    background-image: url(https://cdn.arstechnica.net/wp-content/uploads/2016/02/5718897981_10faa45ac3_b-640x624.jpg);
}.circles > div:nth-child(4) .circle {
     background-image: url(https://cdn.arstechnica.net/wp-content/uploads/2016/02/5718897981_10faa45ac3_b-640x624.jpg);
 }

.circles .circle h2 {
    margin: 0;
    padding: 85px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: #000;
}
.circles .circle > div {
    position: relative;
}
.circles div.numeration p {
    text-align: center;
    font-size: 140%;
    margin: 15px 0 0 0;
}

@media (min-width: 992px) {
    .circles .circle h2 {
        padding: 35px;
    }
    .circles > div.arrowed .circle::after {
        content: '';
        height: 60px;
        width: 110px;
        display: block;
        position: absolute;
        background-image: url(http://icons.iconarchive.com/icons/iconsmind/outline/512/Arrow-Right-2-icon.png);
        right: -54%;
        bottom: 40px;
        z-index: -1;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}
@media (min-width: 1199px) {
    .circles > div.arrowed .circle::after {
        right: -70%;
    }
}
@media (min-width: 1599px) {
    .circles > div.arrowed .circle::after {
        right: -83%;
    }
}

@media (max-width: 1199px) {
    .circles div.numeration p {
        font-size: 150%;
    }
}
@media (max-width: 991px) {
    .circles .circle {
        margin-bottom: 15px;
    }
    .circles div.numeration p {
        font-size: 160%;
    }
    .circles div.numeration {
        margin: 0 0 15px 0;
    }
}

@media (max-width: 767px) {
    .circles {
        padding: 0 15%;
    }
    /*
    .circle.arrowed::after {
        content: '';
        height: 115px;
        width: 70px;
        display: block;
        position: absolute;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e9/Arrow_bottom.png);
        bottom: -50px;
        right: auto;
        z-index: -1;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    */
}

/* -------------------------------------- /CIRCLES -------------------------------------- */

/* OPINIONS ---------------------------------------------------- */

/* -------------------------------------- OPINIONS -------------------------------------- */

.opinions-bg {
    border-top: solid 2px #ff9c10;
    border-bottom: solid 3px #ff9c10;
}

.opinions {
    padding: 70px 0;
}
.opinions .opinion-img img {
    display: block;
    width: 100%;
    border-radius: 50%;
}
.opinions .opinion-content {
    padding: 0;
}
.opinions .opinion-content p {
    color: #696464;
}
.opinions .opinion-content p.header {
    position: relative;
    font-size: 150%;
    margin-bottom: 12px;
    font-weight: bold;
    margin-top: 17px;
    z-index: 1;
}
.opinions .opinion-content p {
    position: relative;
    font-size: 90%;
    font-weight: lighter;
    padding: 0 25px;
    text-align: justify;
    z-index: 1;
}
.opinions .opinion-content a {
    color: #a7a7a7;
    font-weight:bold;
    text-decoration: underline;
}
.opinions i.fa.fa-quote-right, .opinions i.fa.fa-quote-left {
    font-size: 250%;
    opacity: 0.4;
    position: absolute;
    color: #ccc;
}
.opinions i.fa.fa-quote-left {
    top: 0;
    left: 0;
}
.opinions i.fa.fa-quote-right {
    float: right;
    bottom: 0;
    right: 0;
}

.row {
    margin: 0 !important;
}

@media (min-width: 1200px) {
    .opinions .opinion {
        padding-right: 20px;
    }
    .opinions .opinion:last-child {
        padding-right: 0;
        padding-left: 20px;
    }
}

@media (max-width: 991px) {
    .opinions .opinion {
        margin-bottom: 40px;
        max-width: 500px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 767px) {
    .opinions .opinion {
        padding: 0 6%;
    }
    .opinions .opinion .opinion-img img {
        max-width:200px;
        margin: 0 auto;

    }
}

/* -------------------------------------- /OPINIONS -------------------------------------- */

/* /OPINIONS --------------------------------------------------- */

.errormsg {
    color: #ce0000;
}

.form-thank-you {
    display: none;
}
.form-thank-you p {
    font-size: 200%;
    font-weight: bold;
}

.loading_ajax {
    display: block;
    margin: 10px auto;
}

/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    vertical-align: top;
}

table, th {
    table-layout: auto;
}

table {
    width: 100%;
    margin-bottom: 15px;
}

th, td {
    padding: 5px 8px;
}

td {
    border-width: 0 1px;
}

/* Font Awesome Social Icons
--------------------------------------------------------------------------------------------------------------- */
.faico {
    margin: 0;
    padding: 0;
    list-style: none;
}

.faico li {
    display: inline-block;
    margin: 5px 2px 0 0;
    padding: 0;
    line-height: normal;
}

.faico li:last-child {
    margin-right: 0;
}

.faico a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
}

.faico a {
    color: inherit;
    background-color: #3D4247;
}

.faico a:hover {
    color: #FFFFFF;
}

.faicon-facebook:hover {
    background-color: #3B5998;
}

.faicon-google-plus:hover {
    background-color: #DB4A39;
}

.faicon-instagram:hover {
    background-color: #3F729B;
}

.faicon-linkedin:hover {
    background-color: #0E76A8;
}

.faicon-tumblr:hover {
    background-color: #34526F;
}

.faicon-twitter:hover {
    background-color: #00ACEE;
}

/* Colours
--------------------------------------------------------------------------------------------------------------- */

/* Header */

/*footer */

footer .flex-container {
    display: flex;
    justify-content: center;
}


.flex-container-always {
    display: flex;
    justify-content: center;
}
.flex-container-always .flex-center {
    align-self: center;
}

.header-separator {
    margin-top: 160px;
}


/* /footer */

/* Media Queries
--------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 992px) {
    .flex-container {
        display: flex;
        justify-content: center;
    }

    .flex-container .flex-center {
        align-self: center;
    }
}

@media screen and (max-width: 1599px) {
    .carousel-caption h3 {
        font-size: 32px;
    }
    .carousel-caption h3.highlight_lower {
        font-size: 34px;
    }
}

@media screen and (max-width: 1299px) {
    .carousel-caption h3.highlight_lower {
        font-size: 30px;
    }
}

@media screen and (max-width: 1199px) {
    .carousel-caption h3 {
        font-size: 32px;
    }
    .carousel-caption h3.highlight_lower {
        font-size: 32px;
    }
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        bottom: 140px;
    }

    .carousel-caption h3 {
        font-size: 28px;
    }

    #contact-form > div {
        padding: 0;
    }

    footer .footer-container p {
        display: block;
        text-align: center;
    }
}
@media screen and (max-width: 479px) {
    .carousel-caption h3 {
        font-size: 22px;
    }
}
