* {
    margin: 0;
    padding: 0;
}

#page_intro {
    background-image: url(../images/demo/backgrounds/stock1.jpg);
    background-size: cover;
    z-index: 1;
}

#page_intro .heading {
    position: relative;
    top: 50%;
}

#page_intro .heading {
    position: relative;
    top: 50%;
}

#page_intro .heading h1:nth-child(2){
    color: #11a89e;
}

.number-column-vertical-center h2 {
    padding: 90px 0;
}

.float-r {
    float: right;
}

.float-r.number-text {
    padding-top: 60px;
}

.number-column.right-line:after {
    height: 2px;
    background-color: #000;
    color: #ff00ff;
    width: 30%;
    content: "";
    position: absolute;
    top: 65%;
    left: 65%;
}

.number-column.left-line:after {
    height: 2px;
    background-color: #000;
    color: #ff00ff;
    width: 30%;
    content: "";
    position: absolute;
    top: 65%;
    left: 15%;
}

/* Media --------------------------------------------------------------------------------------- */

@media screen and (max-width: 720px) {
    .float-r {
        float: none;
    }
    .number-column:after {
        display: none;
    }
}